.game-container {
  border: .5rem solid var(--primary-word-tile-color);
  border-radius: .5rem;
  background-color: var(--secondary-background-color);
  width: 520px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button-group button {
  border-radius: 1.5rem
}

.button-group button[type=submit] { 
  /* 
    The specificity for this rule is a little high, and so I had to make the is-active
    class an id instead. Maybe a better way.
  */
  color:  var(--inactive-button-color);
  border-color: var(--inactive-button-color);
}


#is-active {
  background-color: var(--active-submit-button-color);
  color: var(--selected-word-text-color);
  border-color: var(--selected-word-text-color)
}