.remaining-tries-container {
    border: 1px solid forestgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-container {
    border: 1px solid red;
    display: flex;
    justify-content:center;
    width: 35%;
}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid red;
    display: inline-block;
}