.word-container {
    height: 5rem;
    width: 5rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-word-tile-color);
}

.is-selected {
    background-color: var(--selected-word-tile-color);
    color: var(--selected-word-text-color)
}